body{
   
    height: 100vh;
    margin: 0;
    background: linear-gradient(-50deg, #231557 0%, #44107A 14%, #ff1362e1 70%, #fff700 100%);
    
}

/* Ma police*/ 
@font-face {
    font-family: 'Billabong';
    src: url(./Billabong.ttf);
    font-family:'Roboto';
    src: url(./assets/Roboto-Regular.ttf);
}



h1{
    display: flex;
    align-items: center;
    font-family: 'Billabong';
    height: 80px;
    margin-top: 0%;
    margin-right: 2%;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 4.375rem ;
    font-weight:normal;
    color: white;
    display: flex;
    justify-content: flex-end;

}

.logo{
margin-right: 1%;

}

h2{
    color: white;
    font-family:'Roboto';
    text-align: center;
    font-size: 2.5rem;
}
/*--------------Fin d'entête--------------*/

.p1{
    color: white;
    font-family: 'Roboto';
    font-size: 1.563rem;
    margin: 0;


}
.p2{
    color: white;
    font-family: 'Roboto';
    font-size: 1.563rem;
    margin:0;
    
}
.placepicone{
    display: flex;
    justify-content: center;
}
.placep{
    margin-left: 1%;
}
