body{
   
    height: 100;
    margin: 0;
    background: linear-gradient(-50deg, #231557 0%, #44107A 14%, #ff1362e1 70%, #fff700 100%);
    
}

/* Ma police*/ 
@font-face {
    font-family: 'Billabong';
    src: url(./Billabong.ttf);
    font-family:'Roboto_regular';
    src: url(./assets/police/Roboto-Regular.ttf);

}

@font-face {
    font-family: 'Roboto_light';
    src: url(./assets/police/Roboto-Light.ttf);
}


h1{
    display: flex;
    align-items: center;
    font-family: 'Billabong';
    height: 80px;
    margin-top: 0%;
    margin-right: 2%;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 4.375rem ;
    font-weight:normal;
    color: white;
    display: flex;
    justify-content: flex-end;

}

.logo{
margin-right: 1%;

}

h2{
    color: white;
    font-family: 'Roboto_regular';
    text-align: center;
    font-size: 2.5rem;
}
/*--------------Fin d'entête--------------*/

.p1{
    color: white;
    font-family: 'Roboto_regular';
    font-size: 1.563rem;
    margin: 0;


}
.p2{
    color: white;
    font-family: 'Roboto_regular';
    font-size: 1.563rem;
    margin:0;
    
}
.placepicone{
    display: flex;
    justify-content: center;
}
.placep{
    margin-left: 1%;
}

/*-------------Fin de l'entête------------*/

.inpligne1{
    margin-top: 12vh;
    
}
.nomtel{
    display: flex;
    justify-content: space-between;
    
}
.tel{
    color: white;
    margin-right: 35%;
    font-size: 1.875rem;
    font-family: 'Roboto_light';
}

.nom{
    color: white;
    margin-left: 3%;
    font-size: 1.875rem;
    font-family: 'Roboto_light';
}
.placeinp1et2{
    display: flex;
    justify-content:space-between;
    margin-top: 1%;
    height: 4rem;
}

.inp1{
    margin-left: 3%;
    width:32.68rem ;
    font-size: 150%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background:transparent;
    border-color: white;
    outline: none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    
    
}

.inp2{
    width: 32.68rem;
    margin-right: 14.5%;
    font-size: 150%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background:transparent;
    font-family: FontAwesome;
    border-color: white;
    outline: none;
}
.inp1::placeholder{ /*Couleur des icones*/
    color: white;
}

.inp2::placeholder{ 
    color: white;
}
.inp3::placeholder{
    color: white;
}
.inp4::placeholder{
    color: white;
}
/*Fin de couleur icone*/

.inpligne2{
    margin-top: 12vh;
}
.mailadr{
    display: flex;
    justify-content: space-between;
}
.mail{
    color: white;
    margin-left: 3%;
    font-size: 1.875rem;
    font-family: 'Roboto_light';
}
.adresse{
    color: white;
    margin-right: 35%;
    font-size: 1.875rem;
    font-family: 'Roboto_light';
}

.placeinp3et4{
    display: flex;
    justify-content:space-between;
    margin-top: 1%;
    height: 4rem;
}
.inp3{
    margin-left: 3%;
    width:32.68rem ;
    font-size: 150%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background:transparent;
    border-color: white;
    outline: none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.inp4{
    width: 32.68rem;
    margin-right: 14.5%;
    font-size: 150%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background:transparent;
    font-family: FontAwesome;
    border-color: white;
    outline: none;
}
input{ /*Changement de couleur du texte dans input*/
    color: white;
} 

/*Input ligne 3*/ 

.inpligne3{
    margin-top: 12vh;  
}
.message{
    color: white;
    margin-left: 3%;
    font-size: 1.875rem;
    font-family: 'Roboto_light';
}
.messbtn{
    display: flex;
    justify-content: space-between;
}
.placeinp5etbtn{
    display: flex;
    justify-content:space-between;
    margin-top: 1%;
    margin-bottom: 4%;
    height: 4rem;
}
.inp5{
    margin-left: 3%;
    width:60rem ;
    font-size: 150%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background:transparent;
    border-color: white;
    outline: none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.inp5::placeholder{
    color: white;
}

.send{
    width: 10%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #FFFFFF;
    border-radius: 15px;
    border: 0;
    color: #8B1CA0;
    font-size: 1.80rem;
    font-weight: bold;
    font-family:'Roboto_regular';
    margin-right: 20%;
    margin-top: 1.5%;
    
}

/*---------------------------Animation----------------------------*/


.send:hover{
    color:#ff1362e1;
    
}
.send:active{
    transform: translateY(1px); /*Activer la fonctionnalité de click*/
}
/*--------------------------RESPONSIVE------------------------------*/
@media (max-width:800px) {
    h1{
        font-size: 3rem;
    }
    .logo{
        margin-right: 3%;
        width: 3.75rem; 
        height: 3.75rem;
    }
    h2{
        font-size: 1.875rem;
    }
    .p1 {
        font-size: 1.48rem;
    }
    .p2{
        font-size: 1.48rem;
    }
    .icon_users{
      width: 3.125rem;
      margin-left: 2%;
    }
    .tel, .nom{
        font-size: 1.5rem;
    }
    .tel, .adresse{
        margin-right: 0;
    }
    .mail, .adresse{
        font-size: 1.5rem;
    }
    .inp1, .inp2{
        width:50%;
    }
    .inp2, .inp4{
        margin-right: 4%;
    }
    .inp3, .inp4{
        width: 17rem;
    }
    .message{
        font-size: 1.5rem;  
    }
    .inp5{
        width: 25rem;
    }
    .send{
        width: 15%;
        height: 75%;
        font-size: 1.2rem;
        margin-right: 10%;
    }
    
}
@media (max-width:1500px){
    h1{
        font-size: 3.5rem;
    }
    .logo{
        margin-right: 2%;
        width: 3.25rem; 
        height: 3.25rem;
    }
    h2{
        font-size: 1.825rem;
    }
    .p1 {
        font-size: 1.48rem;
    }
    .p2{
        font-size: 1.48rem;
    }
    .icon_users{
      width: 3.125rem;
      margin-left: 2%;
    }
    .tel, .nom{
        font-size: 1.5rem;
    }
    .mail, .adresse{
        font-size: 1.5rem;
    }
    .inp1, .inp2{
        width: 25rem;
    }
    .inp3, .inp4{
        width: 25rem;
    }
    .message{
        font-size: 1.5rem;  
    }
    .inp5{
        width: 43rem;
    }
    .send{
        width: 15%;
        height: 75%;
        font-size: 1.2rem;
        margin-right: 10%;
    }
}
@media (max-width:1300px){
    h1{
        font-size: 3.5rem;
    }
    .logo{
        margin-right: 2%;
        width: 3.25rem; 
        height: 3.25rem;
    }
    h2{
        font-size: 1.825rem;
    }
    .p1 {
        font-size: 1.48rem;
    }
    .p2{
        font-size: 1.48rem;
    }
    .icon_users{
      width: 3.125rem;
      margin-left: 2%;
    }
    .tel, .nom{
        font-size: 1.5rem;
    }
    .mail, .adresse{
        font-size: 1.5rem;
    }
    .inp1, .inp2{
        width: 25rem;
    }
    .inp3, .inp4{
        width: 25rem;
    }
    .message{
        font-size: 1.5rem;  
    }
    .inp5{
        width: 43rem;
    }
    .send{
        width: 15%;
        height: 75%;
        font-size: 1.2rem;
        margin-right: 10%;
    }
}
@media (max-width:1000px){
    h1{
        font-size: 3.5rem;
    }
    .logo{
        margin-right: 2%;
        width: 3.25rem; 
        height: 3.25rem;
    }
    h2{
        font-size: 1.650rem;
    }
    .p1 {
        font-size: 1.20rem;
    }
    .p2{
        font-size: 1.20rem;
    }
    .icon_users{
      width: 2.700rem;
      margin-left: 2%;
    }
    .tel, .nom{
        font-size: 1.25rem;
    }
    .tel, .adresse{
        margin-right: 25%;
        width: 13.75rem;
    }
    .mail, .adresse{
        font-size: 1.25rem;
    }
    .inp1, .inp2{
        width: 20rem;
    }
    .inp3, .inp4{
        width: 20rem;
    }
    .message{
        font-size: 1.25rem;  
    }
    .inp5{
        width: 33rem;
    }
    .send{
        width: 15%;
        height: 75%;
        font-size: 1.2rem;
        margin-right: 10%;
    }
}
@media(max-width:700px){
    h1{
        font-size:2.800rem ;
    }
    .logo{
        width: 2.700rem;
        height: 2.700rem;
    }
    h2{
        font-size: 1.350rem;
    }
    .p1 {
        font-size: 1.050rem;
    }
    .p2{
        font-size: 1.050em;
    }
    .icon_users{
      width: 2.300rem;
      margin-left: 2%;
    }
    .tel, .nom{
        font-size: 1.10rem;
    }
    .tel, .adresse{
        margin-right: 25%;
        width: 9rem;
    }
    .mail, .adresse{
        font-size: 1.10rem;
    }
    .inp1, .inp2{
        width: 13rem;
    }
    .inp2, .inp4{
        margin-right: 15%;
    }
    .inp3, .inp4{
        width: 13rem;
    }
    .message{
        font-size: 1.10rem;  
    }
    .inp5{
        width: 23rem;
    }
    .send{
        width: 15%;
        height: 75%;
        font-size: 1.2rem;
        margin-right: 10%;
    }

}
@media(max-width:425px){ /*Mobil L*/
    body{
        height: 100vh;
    }
    h1{
        font-size:2rem ;
        justify-content: center;
    }
    .logo{
        width: 2rem;
        height: 2rem;
    }
    h2{
        font-size: 1.150rem;
    }
    .p1 {
        font-size: 0.900rem;
    }
    .p2{
        font-size: 0.900em;
    }
    .icon_users{
      width: 2rem;
      margin-left: 2%;
    }
    .tel, .nom{
        font-size: 1rem;
    }
    .tel, .adresse{
        margin-right: 25%;
        width: 4rem;
    }
    .mail, .adresse{
        font-size: 1rem;
    }
    .inp1, .inp2{
        width: 8rem;
    }
    .inp2, .inp4{
        margin-right: 8%;
    }
    .inp3, .inp4{
        width: 8rem;
    }
    .message{
        font-size: 1rem;  
    }
    .inp5{
        width: 15rem;
    }
    .send{
        width: 20%;
        height: 75%;
        font-size: 0.9rem;
        margin-right: 10%;
        align-items: center;
        margin-top: 6%;
    }
    .inpligne3{
        margin-top: 15%;
    }
}
@media(max-width:320px){
    body{
        height: 100vh;
    }
    h1{
        font-size:2.900rem ;
        justify-content: center;
    }
    .logo{
        width: 2.500rem;
        height: 2.500rem;
        margin-right: 5%;
    }
    h2{
        font-size: 1.150rem;
    }
    .p1 {
        font-size: 0.780rem;
    }
    .p2{
        font-size: 0.780em;
    }
    .icon_users{
      width: 2rem;
      margin-left: 2%;
    }
    .inpligne1{
        margin-top: 15%;
    }
    .inpligne2{
        margin-top: 20%;
    }
    .inpligne3{
        margin-top: 20%;
    }
    .tel, .nom{
        font-size: 0.800rem;
    }
    .tel, .adresse{
        margin-right: 31%;
        
    }
    .mail, .adresse{
        font-size: 0.800rem;
    }
    .inp1, .inp2{
        width: 7.500rem;
    }
    .inp2, .inp4{
        margin-right: 8%;
    }
    .inp3, .inp4{
        width: 7.500rem;
    }
    .message{
        font-size: 0.800rem;  
    }
    .inp5{
        width: 12rem;
    }
    .send{
        width: 50%;
        height: 100%;
        font-size: 0.800rem;
        justify-content: center;
        
        margin-left: 25%;
        margin-top: 20%;
        padding-top:2%;
        padding-bottom: 2%;
           
    }
    .placeinp5etbtn{
        display: flex;
        flex-direction: column;
        height: 15%;
        
    }
    .inpligne3{
        margin-top: 25%;
    }

    
}